.card {
	display: flex;
    transition: .3s ease;
    cursor: pointer;
    
	&.sm {
		flex-direction: row;
		justify-content: space-between;
        align-items: center;
		width: 100%;
        padding: 5px 20px;
        border: solid 1px var(--color-gray-400);
        // background-color: var(--color-gray-50);
        // height: 60px;
        border-radius: 20px;
	}

    &.md {
		flex-direction: column;
		justify-content: space-between;
		width: 330px;
        padding: 30px;
        border: solid 1px var(--color-gray-400);
        // background-color: var(--color-gray-50);
        // height: 60px;
        border-radius: 20px;

        & img{
            width: 250px;
            margin: auto;
        }
	}

    &:hover{
        background-color: var(--color-gray-50);
    }
}
