.card {
	display: flex;
	transition: 0.3s ease;
	cursor: pointer;

	&.sm {
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		width: 100%;
		padding: 5px 20px;
		border: solid 1px var(--color-gray-400);
		// background-color: var(--color-gray-50);
		height: 80px;
		border-radius: 25px;

		& img {
			width: 60px;
		}
	}

	&.md {
		flex-direction: column;
		justify-content: space-between;
		width: 100%;
		padding: 30px;
		border: solid 1px var(--color-gray-400);
		background-color: var(--color-gray-50);
		// height: 60px;
		border-radius: 20px;

		& img {
			width: 250px;
			margin: auto;
		}
	}

	&:hover {
		background-color: rgb(132, 107, 166, 0.1);
		border: solid 1px rgb(132, 107, 166, 0.5);;
	}
}
