:root {
	--color-black: #222328;
	--color-white: #fefeff;
	--color-light: #f9fafe;
	--color-light-100: rgba(249, 250, 254, 0.75);
	--color-paragraph: rgb(0, 0, 0, 0.75);
	--color-gray-50: #fafafa;
	--color-gray-100: #f2f2f2;
	--color-gray-200: #e6ebf4;
	--color-gray-300: #e4e4e4;
	--color-gray-400: #e1e1e1;
	--color-gray-500: #c8c8c8;
	--font-primary: 'Manrope';
}
::selection {
	background-color: #b7c1cc;
	// color: var(--color-light);
}

*,
*::before,
*::after {
	outline-color: #b7c1cc;
	box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

html,
body {
	font-family: 'Manrope', sans-serif;
}

textarea,
input {
	outline: none;
}

main {
	margin: 100px auto;
	max-width: 1030px;
}

.overlay {
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
	backdrop-filter: blur(10px);
	z-index: 10;
}

.text-input {
	background-repeat: no-repeat;
	background-size: 14px 14px;
	background-position: 20px 50%;
	padding: 10px 50px;
	width: 100%;
	border: solid 1px var(--color-gray-400);
	border-radius: 15px;
	transition: 0.3s ease;

	&:focus {
		border: solid 1px var(--color-gray-500);
	}

	&.lg {
		height: 60px;
		border-radius: 20px;
	}
}

.btn {
	border: solid 1px transparent;
	border-radius: 15px;
	padding: 10px;
	width: 130px;
	font-size: 1rem;
	font-weight: 500;
	transition: 0.3s ease;
	cursor: pointer;

	&-primary {
		background-color: transparent;
		border: solid 1px var(--color-gray-400);
		// opacity: 0.5;

		&:hover {
			opacity: 1;
			background-color: var(--color-gray-50);
		}

		&.active {
			background-color: var(--color-gray-50);
			border: solid 1px var(--color-gray-400);
			opacity: 1;
		}

		@media (max-width: 728px) {
			padding: 10px;
			width: 110px;
			font-size: 0.875rem;
		}
	}

	&-sm {
		width: 100px;
		padding: 5px;
		border-radius: 12px;
		font-size: 0.875rem;
	}
}

.fade-up {
	animation: fadeUp 0.3s ease both;

	&--3 {
		animation: fadeUp 0.3s 0.3s both ease;
	}

	&--5 {
		animation: fadeUp 0.3s 0.5s both ease;
	}
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

.bar {
	width: 270px;
	height: 8px;
	border-radius: 10px;
}

.mini-circle {
	height: 10px;
	width: 10px;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 50%;

	&.psychic {
		background-color: #fb7185;
	}

    &.fairy {
		background-color: #fc8ac5;
	}

	&.ghost {
		background-color: #c084fc;
	}

	&.electric {
		background-color: #facc15;
	}

	&.water {
		background-color: #38bdf8;
	}

	&.grass {
		background-color: #22c55e;
	}

	&.ice {
		background-color: #a5f3fc;
	}

	&.dark {
		background-color: #374151;
	}

	&.fire {
		background-color: #f9a616;
	}

	&.poison {
		background-color: #8b5cf6;
	}

	&.ground {
		background: linear-gradient(0.25turn, #facc15, #a16207);
	}

	&.dragon {
		background: linear-gradient(0.25turn, #7dd3fc, #f87171);
	}

	&.steel {
		background: #cbd5e1;
	}

	&.fighting {
		background-color: #f97316;
	}

	&.normal {
		background-color: #cbd5e1;
	}
}
